<div class="grid-container">
  <div class="grid-item grid-item-1">
    <!-- <span class="primary-logo">
    </span> -->
    <img class="float-left" src="/assets/aston-villa-logo.svg" alt="villa logo" width="100" height="100">
    <h1>AVFC Game Reviews</h1>
    <div><b>Opponent:</b> <span id="opponent"> <%= @match.opponent %> </span><b>H/A:</b> <span id="ha"> <% if @match.home %>Home <% else %>Away <% end %> </span><b>Score:</b> <span id="score"> <%= @match.score %> </span><b>Date:</b> <span id="date"><%= display_date(@match.game_date) %> </span><b>Villa Rating:</b> <span id="avgRating"><%= @match.avg_rating %></span></div>
  </div>
  <div class="grid-item grid-item-2">
    <h3>Previous Reviews</h3>
    <table class="center" id="prevReviews">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @match.reviews.each do |r| %>
        <tr>
          <td><%=r.title%></td>
          <td><%=r.description%></td>
          <td><%=r.rating%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="grid-item grid-item-3">
    <h3>Write A Review</h3>
    <form class="form" name="review" onsubmit="addReview();return false">
      <input type="text" name="title" placeholder="Title"><br>
      <input type="text" name="description" placeholder="Your Review"><br>
      <label for="rating">Team Rating (between 1 and 5):</label>
      <input type="number" name="rating" min="1" max="5" step="1"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="grid-item grid-item-4">
    <h3>Select Another Match</h3>
    <select class="matches" name="matches" id="matches" onchange="anotherMatch()">
      <% @matches.each do |m| %>
        <% @match_data = m.opponent + ' ' + m.formatted_date %>
        <option value="<%=@match_data%>"><%=@match_data%></option>
      <% end %>
    </select>
  </div>
</div>
