<div class="grid-container">
  <div class="grid-item grid-item-1">
    <!-- <span class="primary-logo">
    </span> -->
    <img class="float-left" src="/assets/aston-villa-logo.svg" alt="villa logo" width="100" height="100">
    <h1>AVFC Game Reviews</h1>
    <div>
      <b>Opponent:</b> <span id="opponent"> <%= @match.opponent %> </span><b>H/A:</b> <span id="ha"> <% if @match.home %>Home <% else %>Away <% end %> </span><b>Score:</b> <span id="score"> <%= @match.score %> </span><br>
      <b>Date:</b> <span id="date"><%= display_date(@match.game_date) %> </span><b>Villa Rating:</b> <span id="avgRating"><%= @match.avg_rating %></span>
    </div>
  </div>
  <div class="grid-item grid-item-2">
    <h3>Previous Reviews</h3>
    <table class="center" id="prevReviews">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @match.reviews.each do |r| %>
        <tr>
          <td><%=r.title%></td>
          <td><%=r.description%></td>
          <td><%=r.rating%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="grid-item grid-item-3">
    <h3>Write A Review</h3>
    <form class="form" name="review">
      <input type="text" name="title" placeholder="Title"><br>
      <textarea name="description" rows="4" placeholder="Your Review"></textarea>
      <!-- <input type="text" name="description" placeholder="Your Review"><br> -->
      <div class="rating-css">
        <div>Rate Villa's Team Performance</div>
        <div class="star-icon">
          <input type="radio" name="star" id="star1"><label for="star1" class="fas fa-futbol"></label>
          <input type="radio" name="star" id="star2"><label for="star2" class="fas fa-futbol"></label>
          <input type="radio" name="star" id="star3"><label for="star3" class="fas fa-futbol"></label>
          <input type="radio" name="star" id="star4"><label for="star4" class="fas fa-futbol"></label>
          <input type="radio" name="star" id="star5"><label for="star5" class="fas fa-futbol"></label>
        </div>
      </div>
      <!-- <input type="number" name="rating" min="1" max="5" step="1"><br><br> -->
      <input type="button" value="Submit" onclick="addReview()">
    </form>
  </div>
  <div class="grid-item grid-item-4">
    <h3>Select Another Match</h3>
    <select class="matches" name="matches" id="matches" onchange="anotherMatch()">
      <% @matches.each do |m| %>
        <% @match_data = m.opponent + ' ' + m.formatted_date %>
        <option value="<%=@match_data%>"><%=@match_data%></option>
      <% end %>
    </select>
  </div>
</div>
